<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title>Libreria</title>
</head>
<body>
	<h1>Librerías Unidas</h1>
	<ul>
		<li>
			<h3><a href="../%id%/libro.html">El arte de la Guerra</a></h3>
		</li>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</p>
		<hr/>
		<li>
			<a href="../%id%/autor.html">Ver autor</a>
		</li>
		<li>
			<a href="../%id%/editorial.html">Ver editorial</a>
		</li>
	</ul>

</body>
</html>